[Unit]
Description=Longvinter Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=steamcmd
ExecStart=sh /home/steam/longvinter-linux-server/LongvinterServer.sh

[Install]
WantedBy=multi-user.target
